#In BSUIR
/СТИАОС
/БД

#In SDFMP
**/gradle/
**/.idea/
**/res/
**/build
**/libs

*.iml
*.properties
*.gradle
*.jar
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

#In SPP
node_modules/
package-lock.json
package.json
tsconfig.json