#In BSUIR
/СТИАОС
/БД

#In SDFMP
**/gradle
**/.idea
**/res
**/build
**/libs

*.iml
.gradle
**SDFMP/**/local.properties
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

#In SPP
node_modules/
package-lock.json
package.json
tsconfig.json